.app {
  overflow: hidden;
}

.l-wrapper {
  position: relative;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  padding-right: 6.25em;
}

.l-section {
  padding: 3.125em;
}

@media only screen and (min-width: 768px) {



}

pre {
  display: inline-block;
  width: 100%;
  max-width: 48em;
  margin: 0;
  padding: 1.5em;
  font-family: 'Inconsolita', monospace;
  color: $brand-grey;
  background-color: #f5f5f5;
}

//

.input__file {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
