{% extends './layouts/master.html' %}

{% block content %}

  <section class="l-wrapper">

    <div class="panel">

      <div class="panel__item  panel__item--colorizer">

        <figure class="colorizer" id="js-colorizer">

          <img class="colorizer__image" id="js-colorizer__image" src="" alt="Image replaced via file upload">

          <div class="panel__action  t-title">
            <label class="btn  btn--action">
              <input class="input__file" id="js-input__file" type="file" aria-label="Select file to upload">
              <span>Upload image</span>
            </label>
          </div>

        </figure>

      </div>

    </div>

    <div class="swatch" id="js-swatch">
      <div class="swatch__content">
        <div class="swatch__panel" id="js-swatch__panel"></div>
      </div>
    </div>

  </section>

{% endblock %}
