// fonts

$ff-apercu:             'Apercu', 'Roboto', sans-serif;
$ff-sans-serif:         'Helvetica Neue', Helvetica, Arial, sans-serif;

$ff-base:               $ff-apercu;

// colors

$brand-grey:            #777777;
$brand-grey--light:     #eeeeee;
$brand-grey--dark:      #222222;

$base-color:            $brand-grey--dark;
$base-background:       #f5f5f5;
$base-link:             $brand-grey--dark;
