{% extends '_layouts/_master.html' %}

{% block content %}

  <section class="l-wrapper">

    <div class="panel">

      <div class="panel__item  panel__item--action">

        <div class="panel__action  t-title">
          <label class="btn  btn--primary">
            <input class="input__file" id="js-input__file" type="file" aria-label="Select file to upload">
            <span>Upload</span>
          </label>
        </div>

        <div class="panel__action  t-title">
          <button class="btn  btn--primary  btn--action" data-target="multiply">Multiply</button>
        </div>

        <div class="panel__action  t-title">
          <button class="btn  btn--primary  btn--action" data-target="lighten">Lighten</button>
        </div>
      </div>

      <div class="panel__item  panel__item--colorizer">
        <figure class="colorizer" id="js-colorizer">
          <img class="colorizer__image" id="js-colorizer__image" src="/assets/images/warpaint.jpg" alt="Image replaced via file upload">
        </figure>
      </div>

    </div>

    <div class="swatch" id="js-swatch">
      <div class="swatch__content">
        <div class="swatch__panel" id="js-swatch__multiply"></div>
        <div class="swatch__panel" id="js-swatch__lighten"></div>
      </div>
    </div>

  </section>

{% endblock %}
