.btn {
  display: inline-block;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.btn--action {
  min-width: 8.75rem;
  padding: 0.25em 1em;
  text-align: center;
  color: $brand-grey--dark;
  border: 2px solid currentColor;
}

.btn--action {
  color: var(--blend-multiply);
  // background-color: var(--blend-lighten);
  border-color: var(--blend-multiply);
}

.btn--swatch {
  position: relative;
  width: 3.125em;
  height: 3.125em;
  padding: 0;
  border-radius: 100%;
}

.btn--swatch::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3.125em;
  height: 1.563em;
  background-color: currentColor;
  border-radius: 0 0 3.125em 3.125em;
  transform: rotate(-45deg);
  transform-origin: top center;
}

.btn--swatch.is-active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
