.colorizer {
  position: relative;
  margin: auto;
  background-color: $brand-grey--light;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.colorizer.is-loaded {
  opacity: 1;
}

.colorizer::before,
.colorizer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.colorizer::before {
  z-index: 2500;
  background-color: var(--blend-multiply);
  mix-blend-mode: multiply;
}

.colorizer::after {
  z-index: 2750;
  background-color: var(--blend-lighten);
  mix-blend-mode: lighten;
}

.colorizer__image {
  max-height: 100vh;
  object-fit: contain;
  opacity: 0;
  filter: contrast(110%) grayscale(100%);
  transition: all 300ms 150ms ease-in-out;
}

.colorizer.is-loaded .colorizer__image {
  opacity: 1;
}
