.panel {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  width: 100%;
  padding-left: 3.125em;
  padding-right: 3.125em;
}

@media only screen and (min-width: 1600px) {

  .panel {
    padding-left: 6.25em;
    padding-right: 6.25em;
  }

}

.panel__item {
  width: 100%;
}

.panel__item--colorizer {
  display: flex;
  flex: 1 1 auto;
  // max-width: 75em;
}

.panel__item--action {
  display: flex;
  flex-direction: column;
  max-width: 11.875em;
  padding-right: 3.125em;
  justify-content: center;
}

.panel__action {
  margin-bottom: 1.5rem;
}

.panel__action:last-child {
  margin-bottom: 0;
}
