.swatch {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7500;
  display: flex;
  width: 6.25em;
  height: 100vh;
}

.swatch__content {
  display: flex;
  width: 100%;
  padding-top: 1.563em;
  padding-bottom: 1.563em;
}

.swatch__panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 auto;
}

.swatch__item {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  padding-left: 1.563em;
  padding-right: 1.563em;
}
