.swatch {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  width: 6.25em;
  height: 100vh;
  // box-shadow: -6px 6px 12px rgba(0,0,0,0.25);
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.swatch.is-active {
  transform: translateX(0);
}

.swatch__content {
  display: flex;
  width: 100%;
}

.swatch__panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 auto;
}

.swatch__panel:last-child {
  display: none;
}

.swatch__item {
  display: flex;
  flex: 1 0 auto;
}
