@font-face {
  font-family: 'Apercu';
  src: url('/assets/styles/font/Apercu.eot');
  src: url('/assets/styles/font/Apercu.eot?#iefix') format('embedded-opentype'),
       url('/assets/styles/font/Apercu.woff2') format('woff2'),
       url('/assets/styles/font/Apercu.woff') format('woff'),
       url('/assets/styles/font/Apercu.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
