// states

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

// misc

.h-mb0x {
  margin-bottom: 0;
}

.h-mb1x {
  margin-bottom: 1.5rem;
}

.h-mb2x {
  margin-bottom: 3.125rem;
}

// screen reader text

.h-srt {
  clip: rect(1px,1px,1px,1px);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// clearfix

.h-cf::before,
.h-cf::after {
  content: '';
  display: table;
}

.h-cf::after {
  clear: both;
}
